.yellow-text{
    color:yellow !important;
}
.log-emergency {
    background-color: #B71C1C;
}

.log-alert {
    background-color: #D32F2F;
}

.log-critical {
    background-color: #F44336;
}

.log-error {
    background-color: #FF5722;
}

.log-warning {
    background-color: #FF9100;
}

.log-notice {
    background-color: #4CAF50;
}

.log-info {
    background-color: #1976D2;
}

.log-debug {
    background-color: #90CAF9;
}

.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    /*
    (4 * width: 150px) + (3 * margin-right: 1px) = 603px
    */
    width: 603px;
    height: 100px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
    width: 300px;
    height: 300px;
    margin-right: 10px;
}

.jcarousel img {
    max-height: 300px;
}

.jcarousel .loading {
    text-align: center;
    line-height: 90px; /* Fake vertical aligning */
}

/** Carousel Controls **/

.jcarousel-control {
    padding-top: 15px;
}

.jcarousel-control-prev,
.jcarousel-control-next {
    /*position: absolute;*/
    /*top: 35px;*/
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

.left_col{
    background: #D32F2F !important;
}